@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "GT Easti";
  src: url("/fonts/GT-Eesti-Display-Light-Trial.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "GT Easti";
  src: url("/fonts/GT-Eesti-Display-Medium-Trial.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "GT Easti";
  src: url("/fonts/GT-Eesti-Display-Regular.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "GT Easti";
  src: url("/fonts/GT-Easti-Display-Bold-Trial.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "GT Easti";
}


.sticky-header {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Change to desired background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for sticky effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  z-index: 1111;
}

/* Remove active background for menu items */
.menu .menu-horizontal li a:active {
  background-color: transparent !important;
}


 .swiper-button-next{
  color:white!important;
}
.swiper-button-prev{
  color:white!important;

}