@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: 'Roboto', sans-serif;  /* Set Roboto as the default for body text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;  /* Set Poppins for all heading tags */
}

body {
  font-family: 'Roboto', sans-serif;  /* Ensure body text uses Roboto */
}
